{% extends 'user_base.html' %}

{% block title %}Edit User Profile{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">User Profile</li>
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-body">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                    <h6 class="mb-0">Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">{{ user.user_name}}</div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary"><h6>{{ user.user_email }}</h6></div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-sm-3">
                    <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">(239) 816-9029</div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-0"></div><a class="btn btn-info " href="{% url 'user_update' pk=user.pk %}">Edit</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}