<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ user.user_name }}'s Profile</title>
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #007bff; /* Bootstrap의 기본 버튼 색상 */
            border: none;
            border-radius: 5px;
            text-decoration: none; /* 링크의 기본 밑줄 제거 */
            text-align: center;
        }
        
        .button:hover {
            background-color: #0056b3; /* Hover 시 색상 변경 */
        }
    </style>
</head>
<body>
    <h1>{{ user.user_name }}'s Profile</h1>
    <p><strong>Email:</strong> {{ user.user_email }}</p>
    {% comment %} <p><strong>Skills:</strong> {{ user.skills|json_script:"skills-data" }}</p> {% endcomment %}
    
    <h2>Skills</h2>
    <ul>
        {% for skill in user.skills %}
            <li>{{ skill }}</li>
        {% empty %}
            <li>No skills added yet.</li>
        {% endfor %}
    </ul>
    <a class="button" href="{% url 'user_update' user.pk %}">개인정보-변경</a>
</body>
</html> 