{% extends 'user_base.html' %}

{% block title %}Edit User Profile{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'user_detail' pk=user.pk %}">User Profile</a></li>
<li class="breadcrumb-item active" aria-current="page">User Edit</li>
{% endblock %}

{% block content %}
<div class="card mb-3">
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <h6 class="mb-0">Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                        {{ form.user_name }}
                    </div>
                </div>
                <hr>
                <div class="row">
                    <form id="myForm">
                        <div class="col-sm-0"></div><button type="submit" class="btn btn-info">Save</button>
                    </form>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}