{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ lecture.lecture_name }} - 강의 상세 정보</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/detail_body.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_header.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const positivePercentage = {{ positive_percentage|floatformat:2 }};
        const negativePercentage = {{ negative_percentage|floatformat:2 }};
        const neutralPercentage = {{ neutral_percentage|floatformat:2 }};
        const avgSentiment = {{ review_analysis.avg_sentiment|floatformat:2 |default= "0.0"}};
        const priceHistory = {{ price_history }};
        const priceHistoryDate = {{ price_history_date|safe }};
    </script>

    <script src="{% static 'js/detail.js' %}"></script>
    <script src="{% static 'js/all_lec.js' %}"></script>
    <script src="{% static 'js/chart.js' %}"></script>
    <script src="{% static 'js/price_history_chart.js' %}"></script>

    
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo-container">
                <!-- 사이트 로고 -->
                <a href="/main">
                    <img src="https://github.com/user-attachments/assets/7c1bab45-252a-4764-868a-7e56e5370b2f" width="90" height="80"/>
                </a>
            </div>
            <div class="search-container" id="searchContainer">
                <input class="searchInput" type="text" placeholder="원하는 강의를 검색해보세요." id="searchInput">
                <button id="searchButton" onclick="toggleSearch()">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
            <div class="icon-container" id="iconContainer">
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}?next={{ request.build_absolute_uri|urlencode }}">
                        {% csrf_token %}
                        <button type="submit">Logout</button>
                    </form>
                    <button><a href="{% url 'user_detail' pk=user.pk %}">내정보</a></button>  
                {% else %}
                    <button><a href="{% url 'login' %}?next={{ request.build_absolute_uri|urlencode }}">Login</a></button>
                    <button><a href="{% url 'signup' %}">Signup</a></button>
                {% endif %}
            </div>
        </div>
    </header>
    <main>
        <div class="lecture-summary">
            <div class="summary-info">
                <ul>
                    {% for category in categories %}
                        <li class="category-item" data-category="{{ category.main_category_name }}/{{ category.mid_category_name }}">
                            {{ category.main_category_name }} / {{ category.mid_category_name }}
                        </li>
                    {% endfor %}
                </ul>
                <h1>{{ lecture.lecture_name }} </h1>
                <br>
                <p class="teacher-item" data-teacher="{{ lecture.teacher }}">
                    <i class="fa-solid fa-user-tie"></i> : {{ lecture.teacher|default:"-" }}
                </p>
                <p class="lecture-rating" data-rating="{{ lecture.scope|default:"0" }}">
                    <span id="rating-stars" class="rating-stars"|default:"0"></span> 
                    ({{ lecture.scope }}) 수강평 {{ lecture.review_count|default:"0" }} 개
                </p>
                <div class="tags" data-contents="{{ lecture.tag }}">
                    <!-- 버튼은 jQuery에서 동적으로 생성될 예정 -->
                </div>
            </div>
            <div class="lecture-thumbnail">
                <img src="{{ lecture.thumbnail_url }}" alt="썸네일">
            </div>
        </div>

        <div class="lecture-content">
            <div class="lecture-detail">
                <!-- 탭 버튼 -->
                <div class="tab-container">
                    <button class="tab-button" data-target="lecture-description">강의 소개</button>
                    <button class="tab-button" data-target="lecture-whatlearn">이런걸 배워요</button>
                    <button class="tab-button" data-target="lecture-review">리뷰 분석</button>
                    <button class="tab-button" data-target="lecture-price-history">가격 히스토리</button>
                </div>
                <div id="lecture-description" class="lecture-description">
                    <h2>강의 소개</h2>
                    <hr class="custom-hr"/> 
                    <p style="line-height: 1.8;">{{ lecture.description }}</p>

                </div>
                <br>
                <div id="lecture-whatlearn" class="lecture-whatlearn" data-contents="{{ lecture.what_do_i_learn}}">
                    <h2>이런걸 배워요</h2>
                    <hr class="custom-hr"/>
                    <div id="what-do-i-learn-container"  data-contents="{{ lecture.what_do_i_learn }}"></div>
                    <!-- 리스트는 jQuery에서 동적으로 생성될 예정 -->
                </div>
                <br>
                <div id="lecture-review" class="lecture-review">
                    <h2>해당 강의의 리뷰 분석</h2>
                    <hr class="custom-hr"/> 
                    <div id="review-content">
                        {% if lecture.review_count > 0 and lecture.scope > 0 %}
                            <div class="review-text">
                                <h3>별점 평균</h3>
                                <p>{{ lecture.scope }} / 5</p><br>
                                <h3>총 리뷰 수</h3>
                                <p>{{ lecture.review_count }}개</p><br>
                            </div>
                                <div class="avg-sentiment-container">
                                    <h3>강의평의 평균적인 분위기</h3>
                                    {% if review_analysis.avg_sentiment > 0 %}
                                        <div class="horizontal-bar-container">
                                            <div class="horizontal-bar avg-sentiment"></div>
                                        </div>
                                        <div class="bar-label">
                                            <p>부정적</p>
                                            <p>긍정적</p>
                                        </div>
                                    {% else %}
                                        <p>리뷰 분석이 존재하지 않는 강의에요😅</p>
                                    {% endif %}
                                </div><br>
                
                                <div class="review-percent">
                                    <h3>강의평의 비율</h3>
                                    {% if review_analysis.positive_count > 0 or review_analysis.negative_count > 0 or review_analysis.neutral_count > 0 %}
                                        <div class="chart-container">
                                            <canvas id="sentimentChart"></canvas>
                                        </div>
                                    {% else %}
                                        <p>리뷰 분석이 존재하지 않는 강의에요😅</p>
                                    {% endif %}
                                </div><br>
                                <div class="review-summary">
                                    <h3>강의평 요약</h3>
                                    {% if review_analysis.summary %}
                                        <p>{{ review_analysis.summary }}</p>
                                    {% else %}
                                        <p>리뷰 요약이 존재하지 않는 강의에요😅</p>
                                    {% endif %}
                                </div>
                        {% else %}
                            <p>리뷰가 존재하지 않는 강의에요😅</p>
                        {% endif %}                   
                    </div>
                </div></br>
                <br>
                <div id="lecture-price-history" class="lecture-price-history">
                    <h2>가격 히스토리</h2>
                    <hr class="custom-hr"/>
                    <!-- 가격 히스토리를 여기에 표시 -->
                    {% if price_history|length > 0 %}
                        <canvas id="priceHistoryChart" width="100%"></canvas>
                    {% else %}
                        <p>가격 히스토리가 없습니다.</p>
                    {% endif %}
                </div>
            </div>
            <div class="sticky-container">
                <div class="sticky-title">
                    <h3>{{lecture.platform_name}}</h3>
                </div>
                <div class="sticky-text">
                    <div class="info-discript">

                        <span class="price">{{ lecture.price|default:"-" }}원</span>
                        <div>
                            <i id="heart-icon" class="fa-regular fa-heart", data-lecture-id="{{ lecture.lecture_id }}"></i>
                            ({{ lecture.like_count |default:'0'}})
                        </div>
                    </div>
                    <a class="info"> 강의 레벨   </a> 
                    <a>{{lecture.level|default:"-"}}</a>
                </br>
                    <a class="info"> 총 강의 시간   </a>
                    <a>{{lecture.lecture_time|default:"-"}}</a>
                </div>
                <div class="sticky-button">
                    <button class="num1" data-lectureid="{{ lecture.lecture_url }}">수강하러 가기</button>
                    <button class="num2" data-lectureid="{{ lecture.lecture_id }}">알림 설정하기</button>
                    <button class="num2 hidden" data-lectureid="{{ lecture.lecture_id }}">알림 해제하기</button>
                </div>
            </div>
            <div class="fixed-card">
                <button class="num1" data-lectureid="{{ lecture.lecture_url }}">수강하러 가기</button>
                <button>강의 찜하기</button>
            </div>
        </div>
    </main>

    <script>
        {% if user.is_authenticated %}
            window.currentUserId = "{{ user.user_id }}";
        {% else %}
            window.currentUserId = null;
        {% endif %}
    </script>
    

</body>
</html>
