<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>User: {{ user.username }}</p>

    {% for lecture in recommend_lectures %}
    <div class="recommend-banner">
        {% if lecture.thumbnail_url %}
            <img src="{{ lecture.thumbnail_url }}" draggable="false">
            <p>{{ lecture.thumbnail_url }}</p>  <!-- URL 출력 -->
        {% else %}
            <p> NONE </p>
        {% endif %}
    </div>
{% endfor %}
</body>
</html>